@charset "UTF-8";
#container{
	width: 1000px;
	margin: 0px auto;
}

.insertMap{
	border: 1px solid black;
	width: 80%;
	margin: 0px auto;
}
#title{
	text-align: center;
	height: 30px;
	margin: 10px 10px 0px 10px;
}

#hospitalName{
	font-size: 20px;
	
}

#bookmark{
	width: 20px;
	height: 20px;
}

#bookmarkPart{
	position: absolute;
}

#map-box{
	width: 100%;
	overflow: hidden;
	margin-bottom : 40px;
	text-align: center;
}

#mapPic{
	width: 80%;
	height: 100%;
	object-fit: cover;
}

#hosp_noInfo{
	border: 1px solid black; 
	width: 1000px;
	margin-top: 50px;
}

#map{
	border:2px solid #ccc;
	width: 400px;
	height: 300px;
	margin: 0px auto;
}

#hosp_noInfo_table tr{
	height: 30px;
}

#hosp_detail{
   margin: 20px auto;
   width: 80%;
   border-collapse: collapse;
}

#hosp_detail tr,td{
   padding: 8px;
   text-align: left;
    border-bottom: 1px solid #3E2723;
    font-size: 15px;
}

#reservation{
	margin-bottom : 30px;
	width: 100px;
	height: 30px;
	background-color: #EFEBE9;
	border: 1px solid #3E2723;
	border-radius: 5px;
	font-size: 17px;
}
#reservation:hover{
	cursor: pointer;
	border: 2px solid #3E2723;
}
#reservation:active{
	background-color: #BCAAA4;
}
#resrv_area{
	text-align: center;	
}
h2{
	text-align: center;
}