@charset "UTF-8";
#chartInfo{
	margin: 20px auto;
	width: 80%;
	border-collapse: collapse;
	border-radius: 3px;
}

#chartInfo th,tr,td{
	padding: 8px;
	text-align: left;
 	border-bottom: 1px solid #3E2723;
 	font-size: 15px;
}

#chartInfo th{
	background-color:  #BCAAA4;
	text-align: center;
}

#chartInfo_point th{
	background-color:  #BCAAA4;
}

#chartInfo_point{
	margin: 20px 80px;;
	width: 50%;
	border-collapse: collapse;
	border-radius: 3px;
}

#chartInfo_point th{
	background-color:  #BCAAA4;
}

#chartInfo_point th,tr,td{
	padding: 8px;
	text-align: center;
 	border-bottom: 1px solid #3E2723;
 	font-size: 15px;
}