@charset "UTF-8";

#searchArea {
	height: 60px;
/* 	padding: 10px 10px 10px 1px; */
	margin: 10px 10px;
}

#contentArea {
	height: 1180px;
/* 	margin: 10px 10px; */
}

#content

#pagingArea {
	height: 40px;
/* 	padding: 10px 10px 10px 10px; */
	margin: 10px 10px;
}

.questCard{
	padding: 15px 15px;
	margin: 10px;
	height: 300px;
	background-color: #F5F1EF;
	border-radius: 20px;
	box-shadow: 8px 6px #BCAAA4;
}

.card-chosen{
	padding: 15px 15px;
	margin-bottom: 30px;
	background-color: #F5F1EF;
	border-radius: 20px;
	box-shadow: 8px 6px #900020;
}
.card {
	padding: 15px 15px;
	margin-bottom: 30px;
	background-color: #F5F1EF;
	border-radius: 20px;
	box-shadow: 8px 6px #BCAAA4;
}

.blank{
	padding: 5px;
}

.questTop {
	padding: 5px;
	margin: 0px 10px;
}
.questBottom{
	padding: 10px;
/* 	margin: 0px 10px; */
	width: 900px;
	overflow:hidden;
	
	max-height: 3.0em;
    word-wrap: break-word;
	white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.thumbnail{
	width: 50px;
}

.questId{
	width: 80px;
	text-align: center;
}

.questCategory{
	width: 65px;
	text-align: center;
}
.questPart{
	width: 120px;
	text-align: center;
}
	
.questTitle{
	width: 590px; 
	
}

.questDate{
	width: 200px;
	text-align: right;
}

.replyTitle{
	width: 750px;
	text-align: left;
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

