@charset "UTF-8";

#questSearch {
	height: 100px;
	padding: 10px 10px;
}

.paging{
	height: 60px;
	padding: 10px 10px;
}

#cutContent {
    /* 한 줄 자르기 */
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
/*     white-space: normal; */
/*     line-height: 1.2; */
/*     height: 3.6em; */
/*     text-align: left; */
/*     word-wrap: break-word; */
/*     display: -webkit-box; */
/*     -webkit-line-clamp: 3; */
/*     -webkit-box-orient: vertical; */
}