@charset "UTF-8";

.resrv_record{
	width: 400px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.resrv_record table{
	border: 1px solid black;
}

.resrv_record tr,th,td{
	text-align: left;
	border: 1px solid #ccc; 
}

.resrv_record th{
	width: 40px;
}